<% blog_posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="post-title panel-title"><%= link_to post.title, blog_post_path(post) %></h3>
      <% if current_user %>
          <%= link_to "Edit", edit_blog_post_path(post), class: "btn btn-xs btn-gr", style: "display: inline-block" %>
          <div style="display: inline-block;">
          <% if post.draft %>
            <%= form_for(post) do |f| %>
              <%= f.hidden_field :draft, value: false %>
              <%= button_tag "Publish", class: "btn btn-xs btn-gr", style: "display: inline-block" %>
            <% end %>
          <% end %>
        </div>
        <%= link_to "Delete", blog_post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-xs btn-gr" %>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="post-attrib">
        <div class="post-data">
          <div class="post-date"><%= post.published_on %></div>
        </div>
      </div>

      <% if post.images.any? %>
        <div class="slider-images">
          <% post.images.each do |image| %>
            <a class="example-image-link" href="<%= image.url %>" data-lightbox="photo-set-<%= post.id %>"><img class="blog-index-img" src="<%= image.slider.url %>" alt=""/></a>
          <% end %>
        </div>
      <% end %>

      <div class="blog-text">
        <p><%= sanitize(post.shortened_text) %></p>
      </div>
    </div>
  </div>
<% end %>

