<% provide(:title, @page_title_details) %>

<div id="content">
  <div id="blog" class="e-block e-block-skin">
    <div class="container">
      <div class="down-arrow">&nbsp;</div>
      <div class="dividewhite6"></div>

        <% if @blog_posts.any? %>
          <article class="post">
            <% @blog_posts.each do |post| %>
              <h3 class="post-title"><%= link_to post.title, blog_post_path(post) %></h3>
              
              <div class="post-attrib">
                <div class="post-data">
                  <div class="post-date"><%= post.published_on %></div>
                </div>
              </div>

              <% if post.images.any? %>
                <div class="slider-images">
                  <% post.images.each do |image| %>
                    <a class="example-image-link" href="<%= image.url %>" data-lightbox="photo-set-<%= post.id %>"><img class="blog-index-img" src="<%= image.slider.url %>" alt=""/></a>
                  <% end %>
                </div>
              <% end %>

              <div class="blog-text">
                <p><%= sanitize(post.shortened_text) %></p>
              </div>
              <hr>
            <% end %>
          <% else %>
            <h3 class="post-title text-center">Under Construction! Check back later.</h3>
          <% end %>
        </article>
      </div>
    </div>
  </div>
</div>

