<% provide(:title, @page_title_details) %>

<div id="content">
  <div id="blog" class="e-block e-block-skin">
    <div class="container">
      <div class="down-arrow">&nbsp;</div>
      <div class="dividewhite6"></div>

      <div id="primary" role="main">
        <article class="post">
          <div class="text-center">
            <h2 class="post-title"><%= link_to @blog_post.title, blog_post_path(@blog_post) %></h2>
          
            <div class="post-attrib">
              <div class="post-data">
                <div class="post-date"><%= @blog_post.published_on %></div>
              </div>
            </div>
          </div>

          <% if @blog_post.images.any? %>
            <div class="slider-images text-center">
              <% @blog_post.images.each do |image| %>
                <a class="example-image-link" href="<%= image.url %>" data-lightbox="photo-set-<%= @blog_post.id %>"><img class="blog-show-img" src="<%= image.small.url %>" alt=""/></a>
              <% end %>
            </div>
          <% end %>

          <div class="blog-text">
            <p><%= sanitize(@blog_post.text, attributes: %w(href target)) %></p>
          </div>

          <% if current_user %>
            <div class="text-center">
              <%= link_to "Edit Post", edit_blog_post_path(@blog_post), class: "btn btn-lg btn-darker" %>
              <%= link_to "Delete Post", blog_post_path(@blog_post), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-lg btn-darker" %>
            </div>
          <% end %>
        </article>
      </div>
    </div>
  </div>
</div>
