<% provide(:title, @page_title_details) %>

<div id="content">
  <div class="row">
    <div class="col-md-12">
      <div class="e-block e-block-skin e-block-centered">
        <div class="container">
          <div class="row">
            <div class="col-md-4 infoblock block-centered contact-address">
              <a href="#"><%= image_tag "section_pics/contacts_chicago.png", alt: "chicago" %></a>
            </div>
            <div class="col-md-8 text-center">
              <p>
                Hey!<br><br>
                My name is Diana Camacho and I am a web developer in Chicago.
              </p>

              <p>
                Outside of work, I am a huge fan of musical theatre, travel, and the Chicago Cubs.<br>
              </p>
              <br>
              <div class="contact-icons">
                <div class="contact-icon"><a href="https://twitter.com/dcamachodev" target="_blank" title="Twitter"><i class="fa fa-twitter single-icon"></i></a></div>
                <div class="contact-icon"><a href="https://github.com/dianacamacho" target="_blank" title="GitHub"><i class="fa fa-github single-icon"></i></a></div>
                <div class="contact-icon"><a href="https://www.linkedin.com/in/camachodiana" target="_blank" title="LinkedIn"><i class="fa fa-linkedin single-icon"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" id="contact-me">
    <div class="col-md-12">
      <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
        <div class="row">
          <div class="width-60 e-block-centered">
            <h3 class="uppercase">Contact Me</h3>
            <div class="dividewhite2"></div>

            <div class="contacts-form">
              <div>
                <%= form_for(@email_message, html: {:class => "contact-form" }) do |f| %>
                  <%= f.hidden_field :nickname %>
                  <div class="field">
                    <%= f.text_field :name, required: true, placeholder: "Your Name" %>
                  </div>
                  <div class="field">
                    <%= f.email_field :email, required: true, placeholder: "Your Email" %>
                  </div>
                  <div class="field">
                    <%= f.text_area :message, as: :text, placeholder: "Your message!" %>
                  </div>
                  <div class="field text-center">
                    <%= button_tag "Send Message", class: "btn btn-default btn-gr" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



