<!-- Container -->
<div class="content-wrap" id="interests-page">
   <div id="resume" class="inner-content">
      <section id="page-title" class="inner-section">
         <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.2s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">Interests</h2>
            <h5 class="font-accident-one-bold uppercase subtitle">When I'm not coding I like to...</h5>
            <p class="small fontcolor-medium">
              From spontaneous weekend trips halfway around the world to late nights watching an extra-innings cubs game, my interests are pretty diverse. I'm a bit of an introvert and reserved, but talk to me about something I'm passionate about and we'll get along great. 
            </p>
            <div class="dividewhite2"></div>
         </div>
      </section>

      <!-- Details Block -->
      <div class="row">
        <div class="col-md-6">
          <section id="m-details" class="inner-section bg-color02 resume-skills">
          <div class="container-fluid nopadding">
            <div class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
              <h3 class="font-accident-two-normal uppercase text-center">Languages</h3>
              <div class="dividewhite4"></div>
              <p>I love learning new languages! I studied italian for 4 years in high school and my discovery of european musicals led to my interest in german and dutch. Finding time to study and practice can be tough, but I try to set aside at least 20-30 minutes a day to practice some skills on duolingo or review some vocab and grammar lessons in my old textbooks.</p>
            </div>
            <div class="dividewhite4"></div>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Ruby</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Rails</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">HTML</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">CSS</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">JavaScript</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">AngularJS</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
        <div class="col-md-6">
          <section id="m-details" class="inner-section bg-color02 resume-skills">
          <div class="container-fluid nopadding">
            <div class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
              <h3 class="font-accident-two-normal uppercase text-center">Sports</h3>
              <div class="dividewhite4"></div>
              <p>Unfortunately I was not born with natural athletic talent, but I do appreciate sports and support my teams! I love to play for fun and will play softball and volleyball with family and friends in the summer, just don't expect me to be your MVP!</p>
            </div>
            <div class="dividewhite4"></div>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Ruby</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">Rails</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">HTML</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">CSS</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">JavaScript</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                <div class="row">
                  <div class="col-md-12"><i class="flaticon-circle-2"></i></div>
                  <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-one-bold uppercase">AngularJS</h5>
                  </div>
                </div>
                <div class="divider-dynamic"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
 
    <section id="homesection" class="container-fluid nopadding">
      <div class="col-md-12 personal nopadding ui-block-color01">
      <!-- Timeline Block -->
        <div class="col-md-12 circle-skills nopadding ui-block-color03">
          <div class="padding-50 wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="5">
            <h3 class="font-accident-two-normal uppercase">Musicals</h3>
            <div class="dividewhite4"></div>
            <p class="font-accident-one-normal">I am a huge fan of musical theater! HUGE. I can't sing, I can't act, I can't dance, but I very much enjoy a night out at the theater. I often travel to different cities around the world, just to see my favorite shows and musical actors perform live.</p>
            <div class="dividewhite1"></div>
            <h4 class="font-accident-one-normal uppercase text-center white-font">My Favorite Shows</h4>
            <div class="dividewhite4"></div>
            <div class="row text-center">
              <div class="col-sm-4 nopadding">
                <div class="interest-pic-div">
                <%= image_tag "interest_pics/rebecca_400.png", class: "interest-pic interest-zoom" %>
                </div>
              </div>
              <div class="col-sm-4 nopadding">
                <div class="interest-pic-div">
                <%= image_tag "interest_pics/waitress_400.png", class: "interest-pic interest-zoom" %>
                </div>
              </div>
              <div class="col-sm-4 nopadding">
                <div class="interest-pic-div">
                <%= image_tag "interest_pics/cabaret_400.png", class: "interest-pic interest-zoom" %>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-sm-4 nopadding">
                <div class="interest-pic-div">
                <%= image_tag "interest_pics/next_to_normal_400.png", class: "interest-pic interest-zoom" %>
                </div>
              </div>
              <div class="col-sm-4 nopadding">
                <div class="interest-pic-div">
                <%= image_tag "interest_pics/if_then_400.png", class: "interest-pic interest-zoom" %>
                </div>
              </div>
              <div class="col-sm-4 nopadding">
                <div class="interest-pic-div">
                <%= image_tag "interest_pics/besuch_400.png", class: "interest-pic interest-zoom" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="timeline-vertical" class="inner-section">
      <div class="container-fluid nopadding">
        <div class="text-center wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
           <div class="dividewhite4"></div>
           <h3 class="font-accident-two-normal uppercase">Dev Experience Timeline</h3>
           <h5 class="font-accident-one-bold uppercase subtitle">The road to knowledge and success</h5>
           <div class="dividewhite1"></div>
           <p class="small fontcolor-medium">
              I’m looking forward to an opportunity to join a dev team where I can learn from senior developers and continue my growth as a web developer!
           </p>
        </div>

        <div class="dividewhite4"></div>

        <ul class="timeline-vert timeline-light">
           <li>
              <div class="timeline-badge primary"><i class="flaticon-circle-1"></i></div>
              <div class="timeline-panel wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="10">
                 <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> June 2016 - Present</p>
                 <div class="timeline-photo timeline-bg01-01"></div>
                 <div class="timeline-heading">
                    <h4 class="font-accident-two-normal uppercase">Actualize Coding Bootcamp</h4>
                    <h6 class="uppercase">Teaching Assistant</h6>
                    <p>I help students troubleshoot their code and develop their programming skills as they learn new concepts and build apps incorporating these skills. I also help the lead instructor grade assignments and hold office hours for students needing extra help.
                 </div>
              </div>
           </li>
           <li class="timeline-inverted">
              <div class="timeline-badge success"><i class="flaticon-circle-1"></i></div>
              <div class="timeline-panel wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10">
                 <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> June 2016 - Present</p>
                 <div class="timeline-photo timeline-bg02-01"></div>
                 <div class="timeline-heading">
                    <h4 class="font-accident-two-normal uppercase">The Difference Engine</h4>
                    <h6 class="uppercase">Web Developer</h6>
                    <p>I do contract dev work for ACLTC/The Difference Engine, currently developing a networking Rails app to help employers and Actualize bootcamp alumni connect for hiring opportunities.
                 </div>
              </div>
           </li>
           <li>
              <div class="timeline-badge danger"><i class="flaticon-circle-1"></i></div>
              <div class="timeline-panel wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="10">
                 <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> Apr 2016 - June 2016</p>
                 <div class="timeline-photo timeline-bg03-01"></div>
                 <div class="timeline-heading">
                    <h4 class="font-accident-two-normal uppercase">The Difference Engine</h4>
                    <h6 class="uppercase">Developer Apprentice</h6>
                    <p>I helped develop a Rails app for a non-profit that allows the organization to more efficiently manage its team of volunteers and the donations they receive. </p>
                 </div>
              </div>
           </li>
        </ul>
        <div class="dividewhite6"></div>
      </div>
    </section>
    <!-- /Timeline Block -->
   </div>
</div>

<script>
  $('.interest-pic').hover(function() {
    $(this).css({ width: "100%", height: "100%" });
  }, function() {
    $(this).css({ width: "50%", height: "50%" });
  });
</script>

