<% provide(:title, @page_title_details) %>

<div id="content">
  <div class="row">
    <div class="col-md-12">
      <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
        <div class="row">
          <div class="width-60 e-block-centered">
            <h3 class="uppercase">Project Details</h3>
            <div class="dividewhite2"></div>
            <div class="contacts-form">
              <div>
                <%= form_for(@project, html: {:class => "wpcf7-form" }) do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <div class="field">
                    <%= f.text_field :name, autofocus: true, placeholder: "Project Name" %>
                  </div>
                  <div class="row">
                    <div class="field col-md-6">
                      <%= f.text_field :project_type, autofocus: true, placeholder: "Type (Web App, etc)" %>
                    </div>
                    <div class="field col-md-6">
                      <%= f.text_field :client, autofocus: true, placeholder: "Client Name" %>
                    </div>
                  </div>
                  <div class="field">
                    <%= f.text_area :description, autofocus: true, size: "10x5", placeholder: "Describe the project!" %>
                  </div>
                  <div class="row">
                    <div class="field col-md-6">
                      <%= f.text_field :github, autofocus: true, placeholder: "GitHub repo url (full http)" %>
                    </div>
                    <div class="field col-md-6">
                      <%= f.text_field :website, autofocus: true, placeholder: "Live website url (full http)" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="field col-md-6">
                      <%= f.text_field :screencast, autofocus: true, placeholder: "Youtube screencast url (full http)" %>
                    </div>
                    <div class="field col-md-6">
                      <%= f.text_field :preview, autofocus: true, placeholder: "Preview page url (full http)" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="field col-md-12">
                      <%= f.label "Check all relevant technologies" %><br />
                      <div class="tech-select">
                        <%= f.collection_select( :technology_ids, Technology.all.order(:name), :id, :name, {}, {:prompt => 'Select Fields', class: "chosen-select form-control", data: { placeholder: "Select Technologies" }, multiple: true }) %>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="field col-md-12 tech-select">
                      <%= f.label "Select Images" %>
                      <%= f.file_field :images, multiple: true %>
                    </div>
                  </div>
                  <div class="field text-center">
                    <%= button_tag button_text, class: "btn btn-lg btn-darker" %>
                    <%= link_to "Cancel", projects_path, class: "btn btn-lg btn-darker" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".chosen-select").chosen({width: "100%"})
</script>