<div id="content">
  <div class="e-block e-block-skin">
    <div class="container">
      <h2 class="font-accident-one-bold uppercase">
        <%= @project.name %>
      </h2>
      <div class="dividewhite2"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <img src="/assets/custom/images/magazine/01.jpg" class="img-responsive" alt="img11"/>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-11 col-md-offset-1">
                  <div class="portfolio-item-data">
                    <h5 class="font-accident-one-medium uppercase">Project Info</h5>
                    <div class="infoblock">
                      <hr>
                      <ul>
                        <li>Type: <span><%= @project.project_type %></span></li>
                        <% if @project.client.present? %>
                          <li>Client: <span><%= @project.client %></span></li>
                        <% end %>
                        <% if @project.website.present? %>
                          <li><%= link_to "Website", @project.website %></li>
                        <% end %>
                        <% if @project.github.present? %>
                          <li><%= link_to "GitHub", @project.github %></li>
                        <% end %>
                        <% if @project.screencast.present? %>
                          <li><%= link_to "Screencast", @project.screencast %></li>
                        <% end %>
                        <% if @project.website.present? %>
                          <li><%= link_to "Preview", @project.preview %></li>
                        <% end %>
                      </ul>
                    </div>
                    <h5 class="font-accident-one-medium uppercase">Technologies</h5>
                    <div class="infoblock">
                      <hr>
                      <ul class="list-o">
                        <% @project.technologies.each do |tech| %>
                          <li><%= tech.name %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dividewhite2"></div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="font-accident-one-medium uppercase">Overview</h3>
          <p><%= @project.description %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="e-block e-bg-light-texture" data-stellar-background-ratio="0.5">

    <div class="container isotope-container">

      <h3 class="font-accident-one-bold uppercase">Related Products</h3>
      <p>
        The contribution winning the FACE award is selected by a jury from the entries in the <br>"Human Rights in Cinema" section of the festival. This includes both documentaries and feature <br>films investigating social change and individual dramas.
      </p>
      <div class="dividewhite3"></div>

      <div id="posts" class="row">

        <div id="1" class="item web col-md-3 nopadding">
          <div class="item-wrap">
            <figure class="effect-goliath">
              <img src="/assets/custom/images/magazine/01.jpg" alt="img11"/>
              <figcaption>
                <h3>Music <span>Sounds</span></h3>
                <p>Mitrastigma was a monotypic genus of flowering plants in the </p>
                <a href="portfolio-item.html">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>

        <div id="2" class="item web col-md-3 nopadding">
          <div class="item-wrap">
            <figure class="effect-goliath">
              <img src="/assets/custom/images/magazine/02.jpg" alt="img03"/>
              <figcaption>
                <h3>Fire <span>Burns</span></h3>
                <p>Red Rosa may refer to: Inga bella is a species of legume</p>
                <a href="portfolio-item.html">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
        <div id="3" class="item marketing col-md-3 nopadding">
          <div class="item-wrap">
            <figure class="effect-goliath">
              <img src="/assets/custom/images/magazine/03.jpg" alt="img11"/>
              <figcaption>
                <h3>Ice <span>Cold</span></h3>
                <p>Ciani's career begun when he won second prize at the Liszt-Bartók</p>
                <a href="portfolio-item.html">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>

        <div id="4" class="item marketing col-md-3 nopadding">
          <div class="item-wrap">
            <figure class="effect-goliath">
              <img src="/assets/custom/images/magazine/04.jpg" alt="img03"/>
              <figcaption>
                <h3>Everybody <span>Lies</span></h3>
                <p>His repertoire was broad and diverse for a pianist of his age</p>
                <a href="portfolio-item.html">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>