<div id="content">
  <div class="e-block e-block-skin">
    <div class="container">
      <h2 class="font-accident-one-bold uppercase">
        <%= @project.name %>
      </h2>
      <div class="dividewhite2"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <img src="<%= @project.main_image %>" class="img-responsive" alt="img11"/>
            </div>
            
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-11 col-md-offset-1">
                  <div class="portfolio-item-data">
                    <h5 class="font-accident-one-medium uppercase">Project Info</h5>
                    <div class="infoblock">
                      <hr>
                      <ul>
                        <li>Type: <span><%= @project.project_type %></span></li>
                        <% if @project.client.present? %>
                          <li>Client: <span><%= @project.client %></span></li>
                        <% end %>
                        <div class="row">
                          <div class="dividewhite2"></div>
                          <% if @project.website.present? %>
                            <li class="col-xs-4"><span><%= link_to "Website", @project.website, class: "btn btn-xs btn-gr btn-block", target: "_blank" %></span></li>
                          <% end %>
                          <% if @project.github.present? %>
                            <li class="col-xs-4"><span><%= link_to "GitHub", @project.github, class: "btn btn-xs btn-gr btn-block", target: "_blank" %></span></li>
                          <% end %>
                          <% if @project.screencast.present? %>
                            <li class="col-xs-4"><span><%= link_to "Screencast", @project.screencast, class: "btn btn-xs btn-gr btn-block", target: "_blank" %></span></li>
                          <% end %>
                          <% if @project.preview.present? %>
                            <li class="col-xs-4"><span><%= link_to "Preview", @project.preview, class: "btn btn-xs btn-gr btn-block", target: "_blank" %></span></li>
                          <% end %>
                        </div>
                      </ul>
                    </div>
                    <h5 class="font-accident-one-medium uppercase">Technologies</h5>
                    <div class="infoblock">
                      <hr>
                      <ul class="list-o">
                        <% @project.technologies.each do |tech| %>
                          <li class="col-xs-6"><%= tech.name %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dividewhite2"></div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="font-accident-one-medium uppercase">Overview</h3>
          <p><%= sanitize(@project.description, attributes: %w(href target)) %></p>
        </div>
      </div>
      
      <% if @project.images.any? %>
        <div class="dividewhite2"></div>

        <div class="row">
          <div class="col-md-12">
            <h5 class="font-accident-one-medium uppercase">Images</h5>
            <div class="dividewhite2"></div>

            <div class="slider-images">
              <% @project.images.each do |image| %>
                <a class="example-image-link" href="<%= image.url %>" data-lightbox="photo-set-<%= @project.id %>"><img class="project-show-img" src="<%= image.slider.url %>" alt=""/></a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% if current_user %>
        <div class="dividewhite2"></div>

        <div class="text-center">
          <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-lg btn-darker" %>
          <%= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-lg btn-darker" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
