<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>  <html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>  <html class="ie8" lang="en">    <![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= "Diana Camacho | #{@title}" || "Diana Camacho" %></title>

    <meta name="description" content="Personal website of Diana Camacho">
    <meta name="keywords" content="blog, personal">

   <%= csrf_meta_tags %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css"                     rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/vendor/fontawesome/css/font-awesome.css"                    rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/vendor/novecento/css/novecento-font.css"                    rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/vendor/fancybox/css/jquery.fancybox.css?v=2.1.5"            rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/vendor/fancybox/css/jquery.fancybox-buttons.css?v=1.0.5"    rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/vendor/flexslider/css/flexslider.css"                       rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/vendor/feather/css/feather.css"                             rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/custom/css/style.css"                                       rel="stylesheet" type="text/css" media="screen" />

    <!-- JS -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"                      type="text/javascript"></script>
    <script src="/assets/vendor/sticky/js/jquery.sticky.js"                         type="text/javascript"></script>
    <script src="/assets/vendor/mousewheel/js/jquery.mousewheel-3.0.6.pack.js"      type="text/javascript"></script>
    <script src="/assets/vendor/fancybox/js/jquery.fancybox.pack.js?v=2.1.5"        type="text/javascript"></script>
    <script src="/assets/vendor/fancybox/js/jquery.fancybox-buttons.js?v=1.0.5"     type="text/javascript"></script>
    <script src="/assets/vendor/fancybox/js/jquery.fancybox-media.js?v=1.0.6"       type="text/javascript"></script>
    <script src="/assets/vendor/superfish/js/hoverIntent.js"                        type="text/javascript"></script>
    <script src="/assets/vendor/superfish/js/superfish.js"                          type="text/javascript"></script>
    <script src="/assets/vendor/superfish/js/supersubs.js"                          type="text/javascript"></script>
    <script src="/assets/vendor/flickr/js/jflickrfeed.min.js"                       type="text/javascript"></script>
    <script src="/assets/vendor/flexslider/js/jquery.flexslider-min.js"             type="text/javascript"></script>
    <script src="/assets/vendor/flickity/js/flickity.pkgd.min.js"                   type="text/javascript"></script>
    <script src="/assets/vendor/stellar/js/jquery.stellar.min.js"                   type="text/javascript"></script>
    <script src="/assets/vendor/isotope/js/jquery.isotope.min.js"                   type="text/javascript"></script>
    <script src="/assets/vendor/imagesloaded/js/imagesloaded.pkgd.min.js"           type="text/javascript"></script>
    <script src="/assets/vendor/modernizr/js/modernizr.js"                          type="text/javascript"></script>
    <script src="/assets/custom/js/script.js"                                       type="text/javascript"></script>

    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>


   <!-- Fonts -->
   <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
   

  </head>
  <body>

    <!-- sub-top -->
   <div id="sub-top-light">
      <div class="container">
        <div class="top-contacts">
            <div><a href="https://twitter.com/deecodes" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></div>
            <div><a href="https://github.com/dianacamacho" target="_blank" title="GitHub"><i class="fa fa-github"></i></a></div>
            <div><a href="https://www.linkedin.com/in/camachodiana" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></div>
            <div><a href="https://s3.amazonaws.com/diana-camacho-resumes/diana_camacho_dev_resume_feb_2017.pdf" target="_blank" title="Resume"><i class="fa fa-briefcase"></i></a></div>
        </div>
      </div>
   </div>
    <!-- /sub-top -->

    <!-- main-top -->
    <header id="header-wrapper" class="sticky-menu-light e-bg-section05">

      <div class="sticky-header header-light" role="navigation">
        <div class="container">

          <div id="site-title"><h1 class="font-accident-one-bold"><a href="/">Diana Camacho</a></h1></div>

          <div id="mobnav-btn"><i class="fa fa-bars"></i></div>

          <nav id="main-menu" class="site-navigation primary-navigation" role="navigation">

            <ul class="sf-menu clearfix" id="example">
               <li><a href="/">Blog</a></li>
               <li><%= link_to "About", about_path %></li>
               <li><%= link_to "Work", projects_path %></li>
               <% if user_signed_in? %>
                 <li><a href="#">Account</a>
                   <div class="mobnav-subarrow"></div>
                   <ul class="submenu">
                     <li><%= link_to "New Project", new_project_path %></li>
                     <li><%= link_to "New Post", new_blog_post_path %></li>
                     <li><%= link_to "Sign Out", destroy_user_session_path %></li>
                   </ul>
                 </li>
               <% end %>
            </ul>

          </nav>

        </div>
      </div>
      <% if @page_title_details.present? %>
         <div class="container">
           <div id="page-title">
              <div class="page-title-details">
                 <h1 class="font-accident-one-bold fontcolor-invert"><%= @page_title_details %></h1>
              </div>
           </div>
         </div>
      <% end %>

    </header>
    <!-- /main-top -->

    <% flash.each do |name, message| %>
     <div class="alert alert-<%= name %> alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       <%= message %>
     </div>
   <% end %>

   <%= yield %>

    <!-- footer -->
    <!-- /footer -->

    <!-- Back to Top -->
    <div id="back-top"><a href="#top"></a></div>
    <!-- /Back to Top -->

  </body>
</html>
